<script lang="ts">
  import IceCream from "./Ice-cream.svelte";
  export let name: string;

  let menu = ["Cookies and cream", "Mint choc chip", "Raspberry ripple"];
</script>

<main>
  <h1>Hello {name}!</h1>
  <IceCream {menu} />
</main>

<style>
  main {
    text-align: center;
    padding: 1em;
    max-width: 240px;
    margin: 0 auto;
  }

  h1 {
    color: #ff3e00;
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 100;
  }

  @media (min-width: 640px) {
    main {
      max-width: none;
    }
  }
</style>
