<script lang="ts">
  export let menu = [];
  let scoops = 1;
  let flavours = [];

  function join(flavours: String[]) {
    console.log(flavours);
    if (flavours.length == 1) return flavours[0];
    return `${flavours.slice(0, -1).join(",")} and ${
      flavours[flavours.length - 1]
    }`;
  }
</script>

<h2>Choose Size</h2>

<label>
  <input type="radio" bind:group={scoops} value={1} />
  One scoop
</label>

<label>
  <input type="radio" bind:group={scoops} value={2} />
  Two scoops
</label>

<label>
  <input type="radio" bind:group={scoops} value={3} />
  Three scoops
</label>

<h2>Flavours</h2>

{#each menu as menuItem}
  <label>
    <input type="checkbox" bind:group={flavours} value={menuItem} />
    {menuItem}
  </label>
{/each}

{#if flavours.length == 0}
  <p>Please choose a flavour!</p>
{:else if flavours.length > scoops}
  <p>You cant select more than {scoops} flavours!</p>
{:else}
  <p>
    You have selected {scoops}
    {scoops === 1 ? "scoop" : "scoops"} of {join(flavours)}!
  </p>
{/if}
